.Weather {
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  border: 3px solid #233142;
  box-shadow: 20px 20px 20px #233142;
  font-family: arial, sans-serif;
  color: #455d7a;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 10px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #455d7a;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  color: #e3e3e3;
}

.Weather .unit {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}
