.Weather {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border: 1px solid #233142;
  font-family: arial, sans-serif;
  color: #e3e3e3;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 5px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #455d7a;
}

.Weather .date-description {
  color: #455d7a;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: #e3e3e3;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: #e3e3e3;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}
