.WeatherForecast {
  text-align: center;
  margin-top: 10px;
}

.WeatherForecast-temperatures-min,
.WeatherForecast-temperatures-max {
  color: #e3e3e3;
}

.WeatherForecast-temperatures-min {
  opacity: 0.8;
  margin-left: 5px;
  font-size: 16px;
}

.WeatherForecast .row .col-2 canvas {
  position: relative;
  left: 10px;
}
