.Weather {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  border: 1px solid #233142;
  box-shadow: 20px 20px 20px #233142;
  font-family: arial, sans-serif;
  color: #e3e3e3;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 5px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #e3e3e3;
}

.Weather .date-description {
  color: #455d7a;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #455d7a;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: #455d7a;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: #455d7a;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}
